#jinja2: lstrip_blocks: "True"
[Unit]
Description=Minecraft ({{ minecraft_identifier }}) Server
{% for service in minecraft_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh
    }} -c '{{ devture_systemd_docker_base_host_command_docker
    }} stop --time={{
    devture_systemd_docker_base_container_stop_grace_time_seconds }} {{
    minecraft_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{
    devture_systemd_docker_base_host_command_docker }} rm {{
    minecraft_identifier }} 2>/dev/null || true'
ExecStartPre={{ devture_systemd_docker_base_host_command_docker 
    }} pull itzg/minecraft-server:latest
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} run \
    --detach \
    --rm \
    --name={{ minecraft_identifier }} \
    --user={{ minecraft_uid }}:{{ minecraft_gid }} \
    --network={{ minecraft_container_network }} \
    {% for dns in minecraft_container_dns_servers %}
    --dns={{ dns }} \
    {% endfor %}
    {% for port_mapping in minecraft_container_publish_ports %}
    --publish={{ port_mapping }} \
    {% endfor %}
    --interactive \
    {% for volume in minecraft_container_volumes %}
    --volume {{ volume }} \
    {% endfor %}
    --env-file={{ minecraft_base_path }}/env \
    --label-file={{ minecraft_base_path }}/labels \
    --health-interval={{ minecraft_container_health_interval }} \
    {% for arg in minecraft_container_extra_arguments %}
    {{ arg }} \
    {% endfor %}
    {{ minecraft_container_image }}
{% for network in minecraft_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker
    }} network connect {{ network }} {{ minecraft_identifier }}
{% endfor %}
ExecStart={{ devture_systemd_docker_base_host_command_docker
    }} logs --follow {{ minecraft_identifier }}
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{
    devture_systemd_docker_base_host_command_docker }} stop --time={{
    devture_systemd_docker_base_container_stop_grace_time_seconds }} {{
    minecraft_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{
    devture_systemd_docker_base_host_command_docker }} rm {{
    minecraft_identifier }} 2>/dev/null || true'

Restart=on-failure
RestartSec=10s
TimeoutStartSec=300
SyslogIdentifier={{ minecraft_identifier }}

[Install]
WantedBy=multi-user.target
