{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 XHawk87

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{# TODO: mc-router auto-discovery labels #}

{{ minecraft_container_labels_additional_labels }}
